<div class="container">
  <div class="wrap-collabsible p-t-60 p-b-20">
    <input id="collapsible" class="toggle" type="checkbox" style="display: none" checked>
    <label for="collapsible" class="lbl-toggle">FATORES CRÍTICOS DE SUCESSO</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <div class="content-text p-b-10">
          Fatores Críticos de Sucesso são pontos chave para atingir objetivos.
          Que fatores na minha vida pessoal são decisivos para meu bem-estar e sucesso,
          quais as competências mais importantes.

        </div>
      </div>
    </div>
  </div>

  <%= render partial: "form", locals: {action_text: "Criar"} %>
  <br/>
  <div class="justify-buttons">
    <%= link_to " Voltar para Papéis", new_role_path, class: "btn btn-default lnr lnr-arrow-left" %>
    <%= link_to " Continuar para Âmbitos", new_sphere_path, class: "btn btn-primary lnr lnr-arrow-right align-right" %>
  </div>
</div>