<% @value.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_for @value do |form| %>
  <div class="search-group-1 m-t-33">
    <%= form.text_field :name, placeholder: "Insira um valor", class: "search-field-1" %>
    <%= button_tag class: "icon-1" do %>
      <i class="lnr lnr-arrow-right"></i>
    <% end %>
  </div>
<% end %>
