<div class="container">
  <div class="wrap-collabsible p-t-60 p-b-20">
    <input id="collapsible" class="toggle" type="checkbox" style="display: none" checked>
    <label for="collapsible" class="lbl-toggle">VALORES</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <div class="content-text p-b-10">
          Para atingir objetivos, cumprir sua missão, realizar seu sonho, é preciso
          apoiar-se em comportamentos e atitudes.
          Valores são os princípios que vão te acompanhar nesse caminho.
          <br/>
          <br/>
          Exemplo de Valores:
          <br/>
          <br/>
          Honestidade
          <br/>
          Honra
          <br/>
          Dedicação
        </div>
      </div>
    </div>
  </div>
  <h3>Meus Valores</h3>
  <br/>

  <div class="row">
    <p>Quais valores irão me acompanhar por toda a minha carreira?</p>
    <div class="row">
      <%= render partial: "values/values", collection: @current_plan.values %>
    </div>
    <div class="row">
      <%= render "form", value: @value %>
    </div>
    <br/>
  </div>
  <div class="row">
    <div class="justify-buttons">
      <%= link_to " Voltar para Visão", new_vision_path, class: "btn btn-default lnr lnr-arrow-left" %>
      <%= link_to " Continuar para Papéis", new_role_path, class: "btn btn-primary lnr lnr-arrow-right align-right" %>
    </div>
  </div>
</div>