<div class="container">
  <h1>Editar Objetivo Estratégico</h1>

  <%= render partial: 'form', locals: {action_text: "Editar"}, objective: @objective %>

  <%= link_to "Voltar", objectives_path, class:"btn btn-default" %>
</div>
