<div class="container">
  <h1>Novo Objetivo</h1>

  <%= render partial: 'form', locals: {action_text: "Criar"}, objective: @objective %>

  <%= link_to 'Voltar', objectives_path, class: "btn btn-default" %>
</div>