<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @objective.name %>
</p>

<p>
  <strong>Concluded:</strong>
  <%= @objective.concluded %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @objective.plan %>
</p>
