<!-- start team -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>AWESOME</span> TEAM</h2>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
        <div class="team-wrapper">
          <%= image_tag("team-img2.jpg", alt: "team img 1", class: "img-responsive") %>
          <div class="team-des">
            <h4>TRACY</h4>
            <span>Designer</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
        <div class="team-wrapper">
          <%= image_tag("team-img2.jpg", alt: "team img 2", class: "img-responsive") %>
          <div class="team-des">
            <h4>MARY</h4>
            <span>Developer</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
        <div class="team-wrapper">
          <%= image_tag("team-img2.jpg", alt: "team img 3", class: "img-responsive") %>
          <div class="team-des">
            <h4>JULIA</h4>
            <span>Director</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
        <div class="team-wrapper">
          <%= image_tag("team-img2.jpg", alt: "team img 4", class: "img-responsive") %>
          <div class="team-des">
            <h4>LINDA</h4>
            <span>Manager</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end team -->