<div class="container">
  <h3 class="p-t-50 p-b-10">Contribua para o projeto Life to Remind</h3>

  <hr/>
  <h4>Contribua como Desenvolvedor</h4>
  <br/>

  <div class="container">
    <a href="https://gitlab.com/edu_qg/ltr" class="color-dark">Link do Repositório</a>
    <br/>
    <br/>

    <h5>Principais desenvolvedores </h5>
    <br/>
    <div class="container">
      <h5>1) @_____________ </h5>
      <h5>2) @_____________ </h5>
      <h5>3) @_____________ </h5>
    </div>
  </div>

  <hr/>

  <h4>Faça uma doação para o projeto</h4>
  <br/>
  <div class="container">
    <h5></h5>
  </div>
  <hr/>

  <h4>Seja um patrocinador</h4>
  <br/>
  <div class="container">
    <h5>Ainda não temos um patrocinador, entre em contato para saber mais.</h5>
  </div>
</div>