<div class="col-xs-12 ">
  <%= link_to edit_role_path(roles) do %>
    <div class="offer offer-radius offer-paper">
      <div class="shape">
        <div class="shape-text">
        </div>
      </div>
      <div class="offer-content p-b-0">
        <h3 class="lead color-dark">
          <table>
            <tbody>
              <td width="100%">
                Como <strong><%= roles.name %></strong>, gostaria de no futuro <strong><%= roles.description %></strong>
              </td>
            </tbody>
          </table>
        </h3>
      </div>
      <p class="p-l-15 p-b-5 p-r-5 align-right"><%= roles.created_at.strftime("%d/%m/%Y") %></p>
    </div>
  <% end %>
</div>
