<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-10">
<%= link_to sphereobjectives_path(sphere_id: spheres.id) do %>
  <div class="offer offer-radius offer-primary">
    <div class="shape">
      <div class="shape-text">
      </div>
    </div>
    <div class="offer-content">
      <h3 class="lead color-dark">
        <%= spheres.name %>
        <%= spheres.progress %>
      </h3>
      <p>
        Ver Objetivos
      </p>
    </div>
  </div>
<% end %>
</div>
