<div class="row">
  <div class="col-border">
    <div class="card">
      <div class="card-body">
        <div class="padding-all">
          <h5 class="card-title">Nome da meta: <%= editgoal.name %> | <%= editgoal.progress %>% Concluído
            <%= link_to "Editar", edit_goal_path(editgoal, :objective_id => editgoal.objective) %>
            <%= link_to "Remover", editgoal, method: :delete, data: { confirm: 'Tem certeza que quer remover essa meta?' } %></h5>
        </div>
      </div>
    </div>
  </div>
</div>