// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 160px;
  padding: 120px;
  overflow: hidden;
  border-top: 0 solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 0 solid;
  -webkit-border-radius: 10px 0 0;
  border-radius: 10px 0 0;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #e293a7;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.background-blue {
  background-color: #44c3d5;
}

.background-blue-dark {
  background-color: #2e7394;

}

.background-blue-light {
  background-color: #84A2BA;
}

.background-red {
  background-color: #F06672;
}

.background-red-dark {
  background-color: #b13c3d;
}

.background-red-light {
  background-color: #ECB3B3;

}

.background-green {
  background-color: #39bc8a;
}

.background-green-dark {
  background-color: #0f9962;

}

.background-green-light {
  background-color: #86B693;
}

.background-orange {
  background-color: #FAB963;
}

.background-orange-dark {
  background-color: #d6951f;

}

.background-orange-light {
  background-color: #CAAA83;
}


.background-gray {
  background-color: #565354;
}