// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-swot {
  border: 1px solid rgb(189, 189, 189);
  margin: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.4em;
  text-align: center;
  background-color: rgba(105, 105, 105, 0.41);
  -webkit-text-fill-color: #eeeeee;
}

.padding-all {
  padding: 1em;
}

.background-blue {
  background-color: #44c3d5;
}

.background-blue-dark {
  background-color: #2e7394;

}

.background-blue-light {
  background-color: #7CC8F1;
}

.background-red {
  background-color: #F06672;
}

.background-red-dark {
  background-color: #b13c3d;
}

.background-red-light {
  background-color: #ffa47c;
}

.background-green {
  background-color: #39bc8a;
}

.background-green-dark {
  background-color: #0f9962;

}

.background-green-light {
  background-color: #9bd2b0;
}

.background-orange {
  background-color: #FAB963;
}

.background-orange-dark {
  background-color: #d6951f;

}

.background-orange-light {
  background-color: #FFDB7C;
}


.background-gray {
  background-color: #565354;
}