.search-group-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  font-family: Raleway-Black;
  border-radius: 7px;
}

.icon-1 {
  padding: 1em;
  background: #5cb85c;
  color: #fff;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;

}

.search-field-1 {
  flex: 1;
  width: 100%;
  padding: 0.8em 1em 0.7em;
  border: none;
  outline: none;
  font-size: 1em;
}

.search-group-paper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  border: 1px solid #ccc;
  font-family: Raleway-Black;
  border-radius: 7px;
  margin-left: 15px;
  margin-right: 45px
}

.icon-paper {
  padding: 1em;
  background: #c9c9c9;
  color: #262626;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;

}

.search-field-paper-name {
  flex: 0.3;
  width: 30%;
  height: 40px;
  padding: 0.8em 1em 0.7em;
  border: none;
  outline: none;
  font-size: 1em;
  padding-left: 10px;
  margin-left: 10px;
}

.search-field-paper-description {
  flex: 0.7;
  width: 70%;
  height: 40px;
  padding: 0.8em 1em 0.7em;
  border: none;
  outline: none;
  font-size: 1em;
  resize: none;
  border-left: 1px solid #ccc;
  margin-right: 10px;

}

.field-group-swot {
  display: flex;
  flex-direction: row;
  width: 98%;
  font-family: Raleway-Black;
  margin-left: 5px;
  margin-right: 45px
}
.field-add-swot {
  flex: 1;
  width: 70%;
  height: 45px;
  padding: 0.8em 1em 0.7em;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border: none;
  outline: none;
  font-size: 1em;
  resize: none;
  border-left: 1px solid #ccc;

}
.icon-add-swot {
  padding: 0.8em;
  background: #5cb85c;
  border: 1px solid rgba(204, 204, 204, 0.35);
  color: #f0f0f0;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;

}
