<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Propósito de vida</td>
      <td>Quem sou eu</td>
      <td>Por que existo</td>
      <td>Data</td>
    </tr>
  </thead>
  <tbody>
    <%= render @missions %>
  </tbody>
</table>