<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar um novo.</p>
