<div class="container">

  <h3 class="p-b-20 p-t-20">Nova Atividade</h3>

  <%= render "form", activity: @activity %>

  <div class="p-t-20">
    <%= link_to "Voltar", activities_path, class: "btn btn-default" %>
  </div>
</div>
