<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @activity.checked %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @activity.goal %>
</p>
