<%= form_tag swotparts_path do %>
  <%= hidden_field_tag :partname, tipo_do_swotpart %>

  <div class="field-group-swot m-t-20">
    <%= text_field_tag :name,
                       nil,
                       autocomplete: "off",
                       placeholder: "Adicionar #{texto_da_acao}",
                       class: "field-add-swot" %>
    <%= button_tag class: "icon-add-swot" do %>
      <i class="lnr lnr-arrow-right"></i>
    <% end %>
  </div>


<% end %>

