<%= form_tag swotparts_path do %>
  <%= hidden_field_tag :partname, tipo_do_swotpart %>

  <div class="field-group-swot m-t-20">
    <%= text_field_tag :name,
                       nil,
                       autocomplete: "off",
                       placeholder: "Adicionar #{texto_da_acao}",
                       class: "field-add-swot",
                       id: "field-#{texto_da_acao}"
    %>
    <%= button_tag class: "icon-add-swot", id: "add-#{texto_da_acao}" do %>
      <i class="lnr lnr-arrow-right"> Adicionar </i>
    <% end %>
  </div>
<% end %>

