<div class="body-tutorial">
  <figure class="card-tutorial card-tutorial--water">
    <!--
    <div class="card-tutorial__image-container">
      %= image_tag("home-bg", alt: "plan img 1", class: "img-tutorial") %
    </div>
    -->
    <figcaption class="card-tutorial__caption">
      <h3 class="card-tutorial__type h3-tutorial card__type">
        Bem-vindo!
      </h3>

      <h4 class="card-tutorial__abilities h4-tutorial p-t-10">
        Para começar crie um novo plano
      </h4>
      <h4 class="card-tutorial__ability h4-tutorial">
        Os planejamentos criados são uma forma de visualizar etapas de vida.
      </h4>
      <div class="blockquote">
        <h3>
          Lembre-se da sua caminhada para dar passos adiante
        </h3>
        <h5>&mdash;LTR</h5>
      </div>
    </figcaption>
  </figure>
</div>
