<div class="container">

  <div class="wrap-collabsible p-t-60 p-b-20">
    <input id="collapsible" class="toggle" type="checkbox" style="display: none">
    <label for="collapsible" class="lbl-toggle">EXEMPLOS</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <div class="content-text p-b-10">
          Exemplos de nomes para um plano:
          <br/>
          <br/>
          O melhor plano<br/>
          Meu plano<br/>
          Plano infalível<br/>
          A minha vida<br/>
          Plano A
        </div>
      </div>
    </div>
  </div>


  <%= render "form", plan: @plan %>
  <br/>
  <%= link_to " Continuar para Missão", new_mission_path, class:"btn btn-primary lnr lnr-arrow-right align-right" %>
</div>

