<table class="table table-borderless table-hover">
  <caption class="hidden">Matriz SWOT</caption>
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Fatores Positivos</th>
    <th scope="col">Fatores Negativos</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row" width="12%">Fatores Internos</th>
    <td class="background-blue-light">
      Forças
      <hr/>
      <% @strengths.each do |strength| %>
        <div class="card-swot">
          <strong><%= strength.name %></strong>
        </div>
      <% end %>
    </td>
    <td class="background-red-light">
      Fraquezas
      <hr/>
      <% @weaks.each do |weak| %>
        <div class="card-swot">
          <strong><%= weak.name %></strong>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <th scope="row">Fatores Externos</th>
    <td class="background-green-light">
      Oportunidades
      <hr/>
      <% @opportunities.each do |opportunity| %>
        <div class="card-swot">
          <strong><%= opportunity.name %></strong>
        </div>
      <% end %>
    </td>
    <td class="background-orange-light">
      Ameaças
      <hr/>
      <% @threats.each do |threat| %>
        <div class="card-swot">
          <strong><%= threat.name %></strong>
        </div>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>









